@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.deliverprofile {
  font-family: "Prompt", sans-serif;
  margin-top: 140px;
  margin-left: 30%;
  margin-right: 30%;
}
p[name="protxt"] {
  font-weight: 600;
  font-size: 30px;
  display: inline;
}
p[name="actxt"] {
  font-size: 20px;
  font-weight: 600;
}
.userdetail {
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 4px;
}
td[name="acdetail"] {
  font-weight: 600;
  font-size: 18px;
  padding-top: 10px;
}
td[name="acuser"] {
  font-size: 18px;
  padding-top: 10px;
}
a[name="editbut"] {
  position: absolute;
  right: 579px;
  margin-top: 0px;
}
